{% if datos_personales_ls %}
  <ul>
    {% for dato in datos_personales_ls %}
      	<li>{{ dato.nombre }}</li>
        <li>{{ dato.apellido }}</li>
        <li>{{ dato.descripcion }}</li>
    {% endfor %}
{% endif %}



{% if datos_de_contacto_ls %}
{% for dato in datos_de_contacto_ls %}
<li>{{ dato.mail }}</li>
<li>{{ dato.telefono }}</li>
{% endfor %}
{% endif %}
<a href="resumen/">{{ "ver un resumen sobre mi" }}</a>

<ul>{{"me gusta: "}}</ul>
{% if hobbies_ls %}
    {% for hobbie in hobbies_ls %}
        <li>{{ hobbie.hobbie }}</li>
    {% endfor %}
{% endif %}
<a href="hobbies/">{{ "ver mas hobbies" }}</a>


<ul>{{"experiencia laboral: "}}</ul>
{% if experiencia_laboral_ls %}
    {% for experiencia in experiencia_laboral_ls %}
        <li>{{experiencia.trabajo}}</li>
    {% endfor %}
{% endif %}
<a href="experiencia/">{{ "ver mas sobre mi experiencia" }}</a>


<ul>{{"educacion: "}}</ul>
{% if educacion_ls %}
    {% for educacion in educacion_ls %}
        <li>{{educacion.institucion}}</li>
    {% endfor %}
{% endif %}
<li><a href="educacion/">{{ "ver mas sobre mi educacion" }}</a></li>


<ul>{{"cursos: "}}</ul>
{% if curso_ls %}
    {% for curso in curso_ls %}
        <li>{{ curso.institucion }}</li>
    {% endfor %}
<li><a href="cursos/">{{ "ver mas sobre cursos que tome" }}</a></li>


</ul>
{% else %}
<p>No cv are available.</p>
{% endif %}
