<ul>{{"vista curse "}}</ul>

{% if curso_ls %}
    {% for curso in curso_ls %}
      	<ul>{{ curso.institucion }}</ul>
        <li>{{ curso.fecha_inicio }}</li>
        <li>{{ curso.fecha_final }}</li>
    {% endfor %}
{% endif %}

