<ul>{{"vista edu "}}</ul>


{% if educacion_ls %}
    {% for edu in educacion_ls %}
      	<ul>{{ edu.institucion }}</ul>
        <li>{{ edu.fecha_inicio }}</li>
        <li>{{ edu.fecha_final }}</li>
    {% endfor %}
{% endif %}
