<ul>{{"vista xp "}}</ul>


{% if experiencia_laboral_ls %}
    {% for xp in experiencia_laboral_ls %}
      	<ul>{{ xp.trabajo }}</ul>
        <li>{{ xp.fecha_inicio }}</li>
        <li>{{ xp.fecha_final }}</li>
        <li>{{ xp.nombre_de_empresa }}</li>
        <li>{{ xp.organizacion }}</li>
        <li>{{ xp.tareas_principales }}</li>
    {% endfor %}
{% endif %}
